<div>
  {% assign author_list = site.data.authors %}
  <div class="authorpage">
    {% for author in author_list %}
      <div id="{{ author[0] }}">
      {% assign author_data  = author[1] %}
      {% assign bio = author_data.bio %}
        <h2><a href="{{ site.baseurl }}/{{ author[0] }}">{{ author_data.display_name }}</a></h2>
          <div class="row post-top-meta">
          <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
              {% if author_data.avatar %}
              <img class="author-thumb" src="{{site.baseurl}}/{{ author_data.avatar }}"
                  alt="{{ author_data.display_name }}">
              {% else %}
              <img class="author-thumb"
                  src="https://www.gravatar.com/avatar/{{ author_data.gravatar }}?s=250&d=mm&r=x"
                  alt="{{ author_data.display_name }}">
              {% endif %}
          </div>
          <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
              <span class="author-description">{{ author_data.description }}</span>
          </div>
      </div>
        <p>{{ bio | markdownify }}</p>
        <a href="{{ site.baseurl }}/{{ author[0] }}#posts">Read posts by {{ author_data.name }}</a>
      </div>
    {% endfor %}
  </div>
</div>